<div class="register-form">
  <div class="form-container">
    <h2>Registro de PDF</h2>
    <p-card>
      <!-- Upload section -->
      <div class="card">
        <p-toast />
        <p-fileUpload
          name="demo[]"
          url="/src/assets/pdfs"
          (onUpload)="onUpload($event)"
          accept="application/pdf"
          [multiple]="false"
          maxFileSize="1000000"
          mode="advanced">
          
          <ng-template pTemplate="empty">
            <div>Arrastra y suelta archivos aquí para subirlos.</div>
        </ng-template>
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
        </p-fileUpload>
      </div>
      <br>
      <form [formGroup]="form">
        <div class="p-fluid">
          <div class="p-field">
            <label for="filePath">Registro del PDF:</label>
            <input
              id="filePath"
              pInputText
              formControlName="filePath"
              placeholder="Nombre del PDF"
            />
<!--             <p *ngIf="filePathField.invalid && filePathField.touched" class="p-error">El nombre es obligatorio</p>
 -->          </div>
        </div>
        <br>
        <button type="submit" pButton label="Registrar" [disabled]="form.invalid"></button>
      </form>
    </p-card>
  </div>
</div>
