<div>
  <app-navbar></app-navbar>
</div>
<div class="form-page-container">

  <div class="register-form">
    <div class="form-container">
      <h2>Registro de PDF</h2>
      <p-card>
        <!-- Upload section -->
        <div class="card">
          <div>
            <div>
              <span>Adjunta tu file</span>
              <input type="file" (change)="getFile($event)">
            </div>

            <div>
              <button (click)="sendFile()">Enviar</button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>


<!-- REGISTRO DEL LIBRO -->
  <div class="register-container">
    <div class="register-form">
      <div class="form-container">
        <h2>Registro de Libros</h2>
        <p-card>
          <form [formGroup]="form" (ngSubmit)="addBook()">
            <div class="p-fluid">
  
              <div class="p-field">
                <label for="title">Título:</label>
                <input id="title" 
                  type="text" 
                  pInputText 
                  name="title"
                  formControlName="title" 
                  placeholder="Ingrese El nombre del libro" 
                  required />
                <small *ngIf="titleField.invalid && titleField.touched" class="p-error">
                  <span *ngIf="titleField.errors?.['required']">El título es obligatorio.</span>  
                </small>
              </div>
              
              <div class="p-field">
                <label for="author">Autor:</label>
                <input id="author" 
                  type="text" 
                  pInputText 
                  name="author"
                  formControlName="author" 
                  placeholder="Ingrese el autor" 
                  required />
                <small *ngIf="authorField.invalid && authorField.touched" class="p-error">
                  <span *ngIf="authorField.errors?.['required']">El autor es obligatorio.</span>  
                </small>
              </div>
              
              <div class="p-field">
                <label for="file_path">URL:</label>
                <input id="author" 
                  type="text" 
                  pInputText 
                  name="file_path"
                  formControlName="file_path" 
                  placeholder="Ingrese el URL del libro" 
                  required />
                <small *ngIf="filePathField.invalid && filePathField.touched" class="p-error">
                  <span *ngIf="filePathField.errors?.['required']">El URL  es obligatorio.</span>  
                </small>
              </div>

              <div class="p-field">
                <label for="year_publication">Año:</label>
                <input id="year_publication" 
                  type="text" 
                  pInputText 
                  name="year_publication"
                  formControlName="year_publication" 
                  placeholder="Ingrese el año de publicación" 
                  required />
                <small *ngIf="yearPublicationField.invalid && yearPublicationField.touched" class="p-error">
                  <span *ngIf="yearPublicationField.errors?.['required']">El año de publicacion es obligatorio.</span>  
                </small>
              </div>

              
              <div class="p-field">
                <label for="editorial">Editorial:</label>
                <input id="editorial" 
                  type="text" 
                  pInputText 
                  name="editorial"
                  formControlName="editorial" 
                  placeholder="Ingrese la editorial" 
                  required />
                <small *ngIf="editorialField.invalid && editorialField.touched" class="p-error">
                  <span *ngIf="editorialField.errors?.['required']">El editorial es obligatorio.</span>  
                </small>
              </div>
  
              <div class="p-field">
                <label for="career">Seleccione una categoria:</label>
                <p-dropdown 
                  [options]="categories" 
                  placeholder="Seleccione una categoria" 
                  name="category"
                  formControlName="categoriesId"> 
                </p-dropdown>
                <small *ngIf="categoriesIdField.invalid && categoriesIdField.touched" class="p-error">
                  <span *ngIf="categoriesIdField.errors?.['required']">El año de publicacion es obligatorio.</span>  
                </small>
              </div>

              <div class="p-field">
                <label for="description">Descripcion:</label>
                <input id="description" 
                  type="text" 
                  pInputText 
                  name="description"
                  formControlName="description" 
                  placeholder="Ingrese la descripcion" 
                  required />
                <small *ngIf="descriptionField.invalid && descriptionField.touched" class="p-error">
                  <span *ngIf="descriptionField.errors?.['required']">La descripcion es obligatorio.</span>  
                </small>
              </div>
              <button pButton type="submit" label="Añadir Libro" [disabled]="form.invalid" class="submit-button"></button>
            </div>
          </form>
        </p-card>
      </div>
    </div>
  </div>
  </div>

  
  
  


  
  
    <!-- <div class="form-section">
      <div class="form-content">
        <h2>Formulario de Libro</h2>
        <form [formGroup]="form" (ngSubmit)="addBook()">
          <div class="p-fluid">
            <div class="p-field">
              <label for="title">Título</label>
              <input id="title" type="text" formControlName="title" pInputText />
              <p *ngIf="titleField.invalid && titleField.touched" class="p-error">El título es obligatorio y debe tener al menos 3 caracteres.</p>
            </div>
  
            <div class="p-field">
              <label for="author">Autor</label>
              <input id="author" type="text" formControlName="author" pInputText />
              <p *ngIf="authorField.invalid && authorField.touched" class="p-error">El author es obligatorio y debe tener al menos 3 caracteres.</p>
            </div>

            <div class="p-field">
              <label for="file_path">Url del pdf</label>
              <input id="file_path" type="text" formControlName="file_path" pInputText />
              <p *ngIf="filePathField.invalid && filePathField.touched" class="p-error">El URL es obligatorio.</p>
            </div>
  
            <div class="p-field">
              <label for="year">Año</label>
              <input id="year" type="text" formControlName="year_publication" pInputText />
              <p *ngIf="year_publicationField.invalid && year_publicationField.touched" class="p-error">El año es obligatorio y debe estar entre 1000 y 2100.</p>
            </div>
  
            <div class="p-field">
              <label for="editorial">Editorial</label>
              <input id="editorial" type="text" formControlName="editorial" pInputText />
              <p *ngIf="editorialField.invalid && editorialField.touched" class="p-error">La editorial es obligatoria.</p>
            </div>
  
            <div class="p-field">
              <label for="category">Categoría</label>
              <p-dropdown
                id="category"
                formControlName="categoriesId"
                [options]="categories"
                placeholder="Selecciona una categoría"
              ></p-dropdown>
              <p *ngIf="categoriesIdField.invalid && categoriesIdField.touched" class="p-error">La categoría es obligatoria.</p>
            </div>
  
            <div class="p-field">
              <label for="description">Descripción</label>
              <textarea id="description" formControlName="description" pInputTextarea></textarea>
              <p *ngIf="descriptionField.invalid && descriptionField.touched" class="p-error">La descripción es obligatoria y debe tener al menos 10 caracteres.</p>
            </div>
  
            <button pButton type="submit" label="Añadir Libro" [disabled]="form.invalid" class="submit-button"></button>
          </div>
        </form>
      </div>
    </div> -->
