<div style=" display: flex;
flex-direction: column;
align-items: center;
width: 100%;
max-width: 800px;
margin: auto;">
   
    <div class="pdf-title">
      <h3>{{ pdfTitle }}</h3>
    </div>
  
  
    <div style=" width: 100%;
    height: 500px;
    margin-bottom: 10px;">
      <iframe 
        [src]="sanitizer.bypassSecurityTrustResourceUrl(pdfUrl)" 
        style=" width: 100%;
        height: 100%;
        border: none;">
      </iframe>
    </div>
  
  
    <div class="comments-button">
      <button pButton type="button" label="Abrir comentarios" (click)="openComments()"></button>
    </div>
  </div>
