<p-menubar [model]="menuItems">
  <!-- Logo a la izquierda -->
  <ng-template pTemplate="start">
    <img src="/assets/YAVI ARCHIVE.png" alt="Logo" class="navbar-logo" />
  </ng-template>

  <!-- Botones a la derecha -->
  <ng-template pTemplate="end">
    <!-- Botones de Login y Registro si no existe token -->
    <div *ngIf="!isLoggedIn()">
      <button pButton 
              label="Login"
              [rounded]="true" 
              [text]="true" 
              severity="info"
              icon="pi pi-sign-in" 
              [routerLink]="'/auth/login'"></button>
      <button pButton 
              label="Registro"
              [rounded]="true" 
              [text]="true" 
              severity="info"
              icon="pi pi-user-plus" 
              [routerLink]="'/auth/register'"></button>
    </div>

    <!-- Botón de Cerrar sesión si existe un token -->
    <div *ngIf="isLoggedIn()">
      <button pButton 
              label="Cerrar sesión"
              [rounded]="true" 
              [text]="true" 
              severity="danger"
              icon="pi pi-sign-out" 
              (click)="logout()"></button>
    </div>
  </ng-template>
</p-menubar>
